.header {
    background-color: $grey-shade-10;
    color: #fff;
    line-height: 100px;
    height: 50px;
    width: 100%;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 1000;
    font-size: 36px;
    letter-spacing: -.005em;
    font-weight: 600;
    color: #fff;
    text-transform: none;
}

.brand {
    font-size: 32px;
    vertical-align: middle;
    height: 100%;
    margin-top: -26px;
}