html {
    font-family: $font-family;
}

body {
    background-image: linear-gradient(#2d2f44,#040406 85%);
    min-height: 1000px;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.button-icon {
    cursor: pointer;
    color: $secondary-color
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }

.bg-brand {
    background-color: #2b455d!important;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }

 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }