$font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans serif';
$primary-color: #ffffff;
$secondary-color: #fafafa;
$third-color: #f6f6f6;
$grey-shade-1: #d3d3d3;
$grey-shade-2: #bdbdbd;
$grey-shade-3: #a8a8a8;
$grey-shade-4: #939393;
$grey-shade-5: #7e7e7e;
$grey-shade-6: #696969;
$grey-shade-7: #545454;
$grey-shade-8: #3f3f3f;
$grey-shade-9: #2a2a2a;
$grey-shade-10: #151515;
$grey-shade-11: #000000;

$brand-color: #4b9ff5;