.menu {
    margin-top: 10px;
    text-align: center;    
}

.menu ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu ul > li {
    display: inline-block;
    width: 150px;
}

.menu ul > li > a {
    text-align: center;
    padding: 12px 14px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .015em;
    font-weight: 400;
    color: hsla(0,0%,100%,.6);
    text-transform: uppercase;
    letter-spacing: .16em;
    border: 0;
    display: inline-block;
    margin: .8em;
    padding: .8em .8em 0;
    text-decoration: none;
}

.menu ul > li > a:hover {
    font-weight: bolder;
}

.menu.selected {
    padding-bottom: 5px;
    color: $secondary-color;
    font-weight: bolder;
    border-bottom: 2px solid $brand-color;
    text-decoration: none;
}